<%= javascript_include_tag("application.js") %>

<div>
    <input type="email" required>
    <input type="password" required>
    <button type="submit" name="login" email='a' password="b"> Log in </button>
</div>